<div [ngClass]="{'shadow': showShadow}">
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/budget" routerLinkActive="active">My Budget</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-left">
        <li>
          <a *ngIf="authenticated" href="javascript:void(0)" (click)="logout()" class="nav-link">Logout</a>
          <a *ngIf="!authenticated" routerLink="/login" routerLinkActive="active" class="nav-link">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
