<div class="modal-header">
  <h4 class="modal-title">{{model.id ? 'Edit' : 'Add'}} Budget Item</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form role="form" (submit)="updateBudegetItem()" #itemForm="ngForm">
    <mat-form-field>
      <input matInput required type="text" placeholder="Description" name="description" [(ngModel)]="model.description">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Category"
        name="category"
        [(ngModel)]="model.category">
        <mat-option *ngFor="let cat of categories" [value]="cat.category">
          {{cat.category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div><i>must be a positive number</i></div>
    <mat-form-field>
      <input matInput min="0" type="text" placeholder="Amount" name="amount" [(ngModel)]="model.amount">
    </mat-form-field>
    <br>
    <div><i>expense by default</i></div>
    <mat-form-field>
      <mat-select placeholder="Income or Expense"
        name="income"
        [(ngModel)]="model.income">
        <mat-option value="N">Expense</mat-option>
        <mat-option value="Y">Income</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select required
        placeholder="Month"
        name="month"
        [(ngModel)]="model.month">
        <mat-option *ngFor="let month of months" [value]="month.number">
          {{month.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
      <mat-form-field class="mr-4">
        <mat-select required
          placeholder="Year"
          name="year"
          [(ngModel)]="model.year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="!itemForm.form.valid">{{model.id ? 'Edit' : 'Add'}} Budget Item</button>
    <button type="button" mat-raised-button color="secondary" class="ml-4" (click)="deleteBudgetItem()" *ngIf="model.id">Delete Budget Item</button>
  </form>
</div>
