<div class="pane">
  <div class="pane-header lh">
    <h4 class="d-inline-block">{{getBudgetAsString()}}</h4>
    <button class="float-right d-inline-block" type="button" mat-raised-button color="secondary" (click)="changeBudget()">Change Selected Budget</button>
  </div>

  <div class="pane-body">
    <button class="m-1 mb-3" type="button" mat-raised-button color="primary" (click)="addCategory()">Add Category</button>

    <button class="m-1 mb-3" type="button" mat-raised-button color="primary" (click)="addBudgetItem()">Add Budget Item</button>



    <table class="table w-50 d-block">
      <thead>
        <tr class="row text-right">
          <th scope="col" class="col-4">Total Income</th>
          <th scope="col" class="col-4">Total Budgeted</th>
          <th scope="col" class="col-4">Budget Remaining</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row text-right">
          <td class="col-4">{{ totals?.income | currency }}</td>
          <td class="col-4">{{ totals?.budgeted | currency }}</td>
          <td class="col-4">{{ totals?.remaining | currency }}</td>
        </tr>
      </tbody>
    </table>
    <hr>

    <div *ngFor="let combined of combinedBudgetToCategory" >
      <div class="pane-header p-2">
        {{combined.category ? combined.category : 'Uncategorized'}}
        <span class="float-right">{{getTotalsForCategory(combined) | currency}}</span>
      </div>
      <div class="pane-body p-2">
        <table class="table table-hover table-sm">
          <tbody>
            <tr class="row px-2" *ngFor="let item of combined?.budgetItems" (click)="editBudgetItem(item)">
              <td class="col-3">{{item?.description}}</td>
              <td class="col-3">{{item?.category}}</td>
              <td class="col-3">{{income === 'Y' ? 'Income' : 'Expense'}}</td>
              <td class="col-3 text-right">{{item?.amount | currency}}</td>
            </tr>
            <tr class="row px-2" (click)="addBudgetItem(combined?.category)">
              <td class="col-3">-</td>
              <td class="col-3">-</td>
              <td class="col-3">-</td>
              <td class="col-3 text-right">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
